/* NAvigation */
#navbar{
    display: flex;
    flex-direction: column;
}
#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 0px;
    font-size: 1.0rem;
/* HOme section */
#home{

}

/* services section */
#services{

}
#services .box{
    display: flex;
    flex-direction: column;
}
#services img{
    width: 80%;
    margin: auto;
}
/* Footer */