*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
:root{
--navbar-height:70px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content:"";
    background-color: black; 
    position:absolute;
    height:100%;
    width: 100%;
    opacity: 99%;
    z-index: -1;

}
#logo{
    margin:0px;
    padding: 0px;
    transform:;
}
#logo img{
    height: 60px;
    width: 80px;
}
ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
   font-size: 1.4rem;
}
#navbar ul li a{
    color: white;
text-decoration: none;
padding: 5px 30px 5px 30px ;
font-size: 1.0rem;
}
#navbar ul li a:hover{
    color: black ;
    text-decoration: none;
    padding:  5px 30px 5px 30px ;
    background-color: white;
    border-radius: 30px;
    }
    
 /*Section  */
 #home{
     display: flex;
     flex-direction: column;
     padding: 5px 100px;
     justify-content: center;
     align-items: center;
     height: 510px;
     margin-bottom: 50px;
     
 }
 #home::before{
  content: "";
  height: 100%;
  width: 100%;
  background:url('../IMAGES/bac.jpg') no-repeat center center/cover;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  top: 0px;
  left: 0px;
}

/* Utility Classes */
/* .h-primary{
    font-size: 2.8rem;
    padding: 12px;
} */

#home h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px  black;
    cursor:default;
}
#home p{
    text-align: center;
    color: white;
    font-size: 20px; 
    text-shadow: 2px 2px 6px  black;
    cursor:default;
}
section button{
    cursor: pointer;
    padding: 5px 25px;
    border: solid 3px black;
    outline: none;
    font-size: 1.3rem;
    border-radius: 30px;
    margin-top: 20px;
}
section button:hover{
    cursor: pointer;
    padding: 5px 25px;
    border: solid 3px black;
    outline: none;
    font-size: 1.3rem;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 4px red,-3px -3px 4px black;
}
.center{
    text-align: center;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

#services{
    margin: 34px;
    display: flex;
    padding: 8px;
    flex-direction: column;
}
#services .box{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(255, 249, 241);
    

}
#services .box img{
   height: 100px;
    
}
#clients img{
    height: 120px;
}
/* .services-container{
    display: flex;
    flex-direction: column;
} */

.foot{
    color: white;
    background-color: black;
    text-align: center;
    padding: 8px 40px;
}
